* {
    background-color: lightgrey;
    margin: 0%;
    padding: 0%;
}
#preview {
    background-color: seagreen;
    margin: 3vh auto;
    height: 50vh;
    width: 66vw;
}
#editor-div {
    display: block;
    margin: 3vh 10vw;
}
#editor {
    max-width: 80vw;
    min-width: 80vw;
    min-height: 38vh;
    max-height: 38vh;
    margin: 0%;
    background-color: aliceblue;
    padding: 1vh;
    resize: none;
}