* {
    background-color: darkseagreen;
    margin: 0%;
    padding: 0%;
}
#preview {
    background-color: gainsboro;
    margin: 3vh auto;
    height: 50vh;
    width: 66vw;
}
#editor-div {
    display: block;
    margin: 3vh 10vw;
}
#editor {
    width: 80vw;
    height: 38vh;
    background-color: aliceblue;
    border: 3px solid darkcyan;
    border-radius: 10px;
    padding: 1vh;
    resize: none;
}